**/*.egg-info
**/*.pid
**/*secrets.*
**/*sqlite*
**/*venv*
**/.env
**/.idea/
**/.ipynb*
**/build
**/dbs
**/eggs
**/logs
**/setup.py
*.swp
**/*.picasa*
.coverage
.mypy_cache/
.vscode
__pycache__
pgdata
